<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
<title>Agregar Prestamo</title>

<head th:replace="layout/head"></head>
<link rel="stylesheet" href="/src/main/resources/static/css/styles.css">



<body>
    <header th:replace="layout/barra"></header>

    <form method="post" th:object="${prestamo}" th:action="@{/prestamo/save}" autocomplete="off">
        <!-- th:object="${libro}" para actualizar, traer los datos-->
        <fieldset>
            <legend>Agregar Prestamo</legend>
            <div class="casillero">
                <!-- <label for="id">Id</label> -->
                <!-- directamente llamo al atributo con * ?? -->
                <input hidden th:field="*{id}">
            </div>



                <div class="casillero">
                    <label for="fechapr">Fecha de prestamo:</label>
    <input type="date" th:if="${prestamo.id}!=null or ${prestamo.id}==''" name="fechapr" id="fechapr" 
                        th:field="*{fechaPrestamo}"> 
                    <input type="date" th:unless="${prestamo.id}!=null or ${prestamo.id}==''" name="fechapr" id="fechapr"
                        th:value="${#dates.format(actual, 'yyyy-MM-dd')}">
                    <!-- th:value="${#dates.format(actual, 'yyyy-MM-dd')}" para traer la fecha actual -->
                    <!-- con tl th:field es donde vinculamos el input al controller -->
                    <div class="derecha errores" th:if="${#fields.hasErrors('fechaPrestamo')}"
                        th:errors="*{fechaPrestamo}">Error
                        Nombre
                    </div>
                </div>
            </div>




            <div class="casillero">
                <label for="prestamoDev">Fecha Devolucion:</label>
                <input type="date" name="prestamoDev" id="prestamoDev" th:field="*{fechaDevolucion}">
            </div>
            <div class="errores" th:if="${#fields.hasErrors('fechaDevolucion')}" th:errors="*{fechaDevolucion}">Error
                Nombre</div>

            <!-- 
            <div class="casillero">
                <label for="ejemplaresRestantes">Ejemplares Restantes:</label>
                <input type="number" id="ejemplaresRestantes" name="ejemplaresRestantes"
                    th:field="*{ejemplaresRestantes}">

            </div>
            <div class="errores" th:if="${#fields.hasErrors('ejemplaresRestantes')}" th:errors="*{ejemplaresRestantes}">
            </div> 
        -->

            <div class="casillero">
                <label for="alta">Estado: </label>
                <!-- name debe ser igual para selecciona solo una opcion, value es el valor q se envia -->
                <div th:switch="${prestamo.id}">
                    <div th:case="null">
                        <input type="radio" id="alta" name="alta" value="true" checked>
                        <label for="alta">Alta</label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" id="baja" name="alta" value="false">
                        <label for="baja">Baja</label>
                    </div>
                    <div th:case="*">
                        <input type="radio" id="alta" name="alta" value="true" th:checked="${prestamo.alta}==true">
                        <label for="alta">Alta</label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" id="baja" name="alta" value="false" th:checked="${prestamo.alta}==false">
                        <label for="baja">Baja</label>
                    </div>
                </div>
            </div>
            <div class="errores" th:if="${#fields.hasErrors('alta')}" th:errors="*{alta}">Error alta</div>

            <div class="casillero">
                <label for="libro"><a th:href="@{/libro/form}"><i class="fa fa-plus-square fa-lg"></i></a>
                    Libro:</label>
                <select th:field="*{libro.id}" id="libro" name="libro">
                    <option value="" selected>Elegir libro</option>
                    <option th:each="l : ${libros}" th:if="${l.alta}==true" th:text="${l.titulo}" th:value="${l.id}">
                    </option>
                    </option>
                </select>
            </div>
            <div class="errores" th:text="${libroError}"></div> <!-- para autor y editorial -->


            <div class="casillero">
                <label for="cliente"><a th:href="@{/cliente/form}"><i class="fa fa-plus-square fa-lg"></i></a>
                    Cliente:</label>
                <select th:field="*{cliente.id}" id="cliente" name="cliente">
                    <option value="" selected>Elegir cliente</option>
                    <option th:each="c : ${clientes}" th:if="${c.alta}==true" th:text="${c.nombre} +' '+  ${c.apellido}"
                        th:value="${c.id}">
                    </option>
                </select>
            </div>
            <div class="errores" th:text="${clienteError}"></div>

            <div class="casillero">
                <input type="submit" value="Guardar" class="submit">
            </div>

        </fieldset>
    </form>

    <footer th:replace="layout/footer"></footer>
</body>

</html>