<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<title>Prestamo</title>

<head th:replace="layout/head"></head>

<body>

    <header th:replace="layout/barra"></header>
    <h1>Listado de Prestamos</h1>
    <div class="exito desaparecer" th:if="${exito}" th:text="${exito}"></div>
    <div class="error desaparecerLento" th:if="${error}" th:text="${error}"></div>

    <table id="mydatatable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha Prestamo</th>
                <th scope="col">Fecha Devolucion</th>
                <th scope="col">Libro</th>
                <th scope="col">Cliente</th>
                <th scope="col">Devuelto</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Filter..</th>
                <th>Filter..</th>
                <th>Filter..</th>
                <th>Filter..</th>
                <th>Filter..</th>
                <th>Filter..</th>
                <th>Filter..</th>
                <th>Filter..</th>
            </tr>
        </tfoot>
        <tbody id="mytable">
            <!-- <tr th:each=" l,iterator: ${libros}" th:if="${l.alta}==true"></tr>   Para ver solo los activos-->
            <tr scope="row" th:each=" p,iterator: ${prestamo}">
                <td th:text="${iterator.index+1}"> 1</td>
                <!-- no es el id real el que muestra, es un un indicador de posicion -->
                <td th:text="${#dates.format(p.fechaPrestamo, 'dd-MM-yyyy')}"></td>
                <td th:text="${#dates.format(p.fechaDevolucion, 'dd-MM-yyyy')}"></td>

                <td th:text="${p.libro.titulo}"></td>
                <td th:text="${p.cliente.nombre} +' ' + ${p.cliente.apellido}"></td>
                <td>
                    <a th:href="@{/prestamo/enable}+ '?id=' + ${p.id}">
                        <i th:if="${p.alta}" class="fa fa-circle verde"></i>
                        <i th:unless="${p.alta}" class="fa fa-circle rojo"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/prestamo/form}+'?id='+${p.id}"><i class="fas fa-pencil-alt"></i></a>
                </td>
                <td>
                    <a th:href="@{/prestamo/delete}+'?id='+${p.id}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>

    </table>

    <footer th:replace="layout/footer"></footer>
</body>

</html>