<header th:fragment="header" class="barraPosition">
    <div class="barra">
        <section class="elemento">
            <ul class="nav">
                <li><a href="/">Inicio</a></li>

                <li><a href="#">Libro</a>
                    <ul>
                        <li><a th:href="@{/libro/lista}">Listar</a></li>
                        <li><a th:href="@{/libro/form}">Agregar</a></li>
                        <li><a th:href="@{/libro/lista}">Modificaciones</a></li>
                    </ul>
                </li>
                <li><a href="#">Autor</a>
                    <ul>
                        <li><a th:href="@{/autor/lista}">Listar</a></li>
                        <li><a th:href="@{/autor/form}">Agregar</a></li>
                        <li><a th:href="@{/autor/lista}">Modificaciones</a></li>
                    </ul>
                </li>
                <li><a href="#">Editorial</a>
                    <ul>
                        <li><a th:href="@{/editorial/lista}">Listar</a></li>
                        <li><a th:href="@{/editorial/form}">Agregar</a></li>
                        <li><a th:href="@{/editorial/lista}">Modificaciones</a></li>
                    </ul>
                </li>
                <li><a href="#">Cliente</a>
                    <ul>
                        <li><a th:href="@{/cliente/lista}">Listar</a></li>
                        <li><a th:href="@{/cliente/form}">Agregar</a></li>
                        <li><a th:href="@{/cliente/lista}">Modificaciones</a></li>
                    </ul>
                </li>
                <li><a href="#">Prestamo</a>
                    <ul>
                        <li><a th:href="@{/prestamo/lista}">Listar</a></li>
                        <li><a th:href="@{/prestamo/form}">Agregar</a></li>
                        <li><a th:href="@{/prestamo/lista}">Modificaciones</a></li>
                    </ul>
                </li>

                <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="#">Usuario</a>
                    <ul>
                        <li><a th:href="@{/usuario/lista}">Listar</a></li>
                        <li><a th:href="@{/usuario/form}">Agregar</a></li>
                        <li><a th:href="@{/usuario/lista}">Modificaciones</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <a th:href="@{/logout/}" onclick="this.parentNode.submit();">Logout</a> -->
                    <form method="POST" th:action="@{/logout}">
                        <a href="#" onclick="this.parentNode.submit();">Logout</a>
                    </form>
                </li>
            </ul>
        </section>
        <section class="elemento logout">

            <div class="datoUserCard">
                <div class="datoUser">
                    <img th:src="${'/foto/usuario/' + #strings.toString(session.usuariosession.id)}"
                        class="img-fluid rounded-circle" alt="">
                </div>
                <div class="datoUserText">
                    <span th:text="'Bienvenid@ ' + ${#strings.toUpperCase(session.usuariosession.usuario)}"></span>
                    <!-- <div sec:authentication="name"></div>  tambien asi para el usuario-->
                    <!-- <div sec:authentication="principal.authorities"></div> -->
                    <span class="datoUser"
                        th:text="'ROL_' + ${#strings.toUpperCase(session.usuariosession.rol)}"></span>
                    <!-- para roles -->
                    <!-- traigo todos los datos del usuario en sesion -->
                </div>
            </div>
        </section>
    </div>
</header>