<footer th:fragment="footer">
    <div class="footer">
        <!-- Facebook -->
        <div class="cuadro">
            <a class="icono" href="" role="button"><i class="fab fa-facebook-f"></i></a>
        </div>

        <div class="cuadro">
            <!-- Twitter -->
            <a class="icono" href="#!" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="cuadro">
            <!-- Google -->
            <a class="icono" href="#!" role="button" target="_blank"><i class="fab fa-google"></i></a>
        </div>

        <div class="cuadro">
            <!-- Instagram -->
            <a class="icono" href="#!" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="cuadro">
            <!-- Linkedin -->
            <a class="icono" href="https://www.linkedin.com/in/daniel-torres-0b2023214/" role="button"
                target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="cuadro">
            <!-- Github -->
            <a class="icono" href="https://github.com/Danito90/" role="button" target="_blank"><i
                    class="fab fa-github"></i></a>
        </div>
    </div>

    <!-- Javascript desaparecer -->
    <script type="text/javascript" src="/js/desaparecer.js"></script>

    <!-- Datatables -->
    
    <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>

    <!-- Buttons -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!--    Css y js de la tabla-->
    <link type="text/css" href="/css/tabla.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/tabla.js"></script>
</footer>