<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="layout/head.html"></head>

<title>Autor</title>


<body>
    <header th:replace="layout/barra"></header>
    <h1>Listado de autores</h1>
    <div class="desaparecer exito" th:if="${exitoAutor}" th:text="${exitoAutor}"></div>
    <div class="desaparecerLento error" th:if="${errorAutor}" th:text="${errorAutor}"></div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Alta</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a,iterator: ${autor}">
                <td th:text="${iterator.index+1}"> 1</td>
                <td th:text="${a.nombre}"></td>
                <td>
                    <a th:href="@{/autor/enable}+ '?id=' + ${a.id}">
                        <i th:if="${a.alta}" class="fa fa-circle verde"></i>
                        <i th:unless="${a.alta}" class="fa fa-circle rojo"></i>
                    </a>
                </td>
                <td><a th:href="@{/autor/form}+ '?id=' + ${a.id}"><i class="fas fa-pencil-alt"></a></td>
                <td><a th:href="@{/autor/delete} + '?id=' + ${a.id}"><i class="fas fa-trash-alt"></a></td>
            </tr>
        </tbody>
    </table>
    <!-- Javascript desaparecer -->
    <script type="text/javascript" src="/js/desaparecer.js"></script>
</body>

</html>