html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#7209b7,#3f37c0);
}
/* con margin auto centro automaticamente */
.contenedor{
    background:rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(182, 15, 146); 
    width: 400px;
    margin: 50px auto; /* con margin auto centro automaticamente */
    padding: 30px;
    border-radius: 10px;
}

.contenedor h2{
    margin: 0 0 30px 0;
    padding:0;
    font-size: 30px;
    color:#4cc9f0;
    text-align: center;
}

.contenedor .elemento label{
    color:#fff;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background:transparent;
    border:none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.contenedor .elemento input[type="submit"]{
    background-color:#f72585;
    border:none;
    letter-spacing: 5px; /* separar letras */
    text-transform: uppercase; /* convierte a mayuscula */
    cursor: pointer; /* cambia icono de cursor al posicionarse */
    padding: 15px;
    margin-top: 30px;
}

.contenedor .elemento input[type="submit"]:hover{
    background-color:#490121;
    font-weight: bold;
}

div.exito {
    margin: 20px auto;
    background-color: #81c984;
    border: 2px solid rgb(4, 49, 0);
    color: rgb(0, 68, 9);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
  }
  
  div.error {
    margin: 20px auto;
    background-color: #e29090;
    border: 2px solid rgb(59, 0, 0);
    color: rgb(165, 0, 0);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
  }