<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="layout/head.html"></head>

<title>Autor</title>

<body>
    <header th:replace="layout/barra"></header>
    <h1>Listado de autores</h1>
    <div class="exito" th:if="${exitoAutor}" th:text="${exito}"></div>
    <div class="error" th:if="${errorAutor}" th:text="${error}"></div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Alta</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="l,iterator: ${autor}">
                <td th:text="${iterator.index+1}"> 1</td>
                <td th:text="${l.nombre}"></td>
                <td th:text="${l.alta}"></td>
                <td><a href="#"> Modificar</a></td>
                <td><a href="#">Eliminar</a></td>
            </tr>
        </tbody>
    </table>



</body>

</html>