<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Inicio</title>

<head th:replace="layout/head"></head>

<body>
    <div class="imgini">
        <img src="/image/biblioteca.jpg" alt="imagen tienda" />
    </div>

    <header th:replace="layout/barra"></header>


    <p style="padding-bottom: 1200px;"></p>
    <footer th:replace="layout/footer"></footer>
</body>

</html>