<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Libro</title>
</head>

<body>
    <header th:replace="layout/plantilla"></header>
    <h1>Listado de libros</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>Titulo</th>
                <th>Año</th>
                <th>Ejemplares</th>
                <th>Ejemplares Prestados</th>
                <th>Ejemplares Disponibles</th>
                <th>Autor</th>
                <th>Editorial</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1</td>
                <td> 1254521</td>
                <td> Prueba</td>
                <td> Prueba</td>
                <td> Prueba</td>
                <td> Prueba</td>
                <td> Prueba</td>
                <td> Prueba</td>
                <td> Prueba</td>
            </tr>
        </tbody>

    </table>



</body>

</html>