<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <title>Login</title>
</head>

<body>
    <div class="contenedor">
        <h2>Acceso</h2>
        
        <div class="desaparecer exito" th:if="${logout}" th:text="${logout}"></div>
        <div class="desaparecerLento error" th:if="${error}" th:text="${error}"></div>

        <form th:action="@{/logincheck}" id="forma" name="forma" method="POST" autocomplete="off">

            <div class="elemento">
                <label for="usuario">Usuario:</label>
                <input class="caja" type="text" id="usuario" name="username">
            </div>
            <div class="elemento">
                <label for="usuario">Password:</label>
                <input class="caja" type="password" id="pass" name="password">
            </div>
            <div class="elemento">
                <input type="submit" id="submit" value="Login" />
            </div>

        </form>

    </div>

    <!-- Javascript desaparecer -->
    <script type="text/javascript" src="/js/desaparecer.js"></script>
</body>

</html>