<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
<title>Agregar Libro</title>

<head th:replace="layout/head"></head>
<link rel="stylesheet" href="/src/main/resources/static/css/styles.css">



<body>
    <header th:replace="layout/barra"></header>

    <form method="post" th:object="${libro}" th:action="@{/libro/save}" autocomplete="off">
        <!-- th:object="${libro}" para actualizar, traer los datos-->
        <fieldset>
            <legend>Agregar Libro</legend>

            <!-- Pila de errores completa -->
            <!-- <div th:if="${#fields.hasAnyErrors()}"> 
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </ul>
            </div> -->

            <div class="casillero">
                <!-- <label for="id">Id</label> -->
                <input hidden th:field="*{id}">
            </div>

            <div class="casillero">
                <label for="isbn">Isbn:</label>
                <input type="text" name="isbn" id="isbn" th:field="*{isbn}" maxlength="8">
                <!-- con tl th:field es donde vinculamos el input al controller -->
            </div>
            <div class="errores" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error Nombre</div>

            <div class="casillero">
                <label for="titulo">Titulo:</label>
                <input type="text" name="titulo" id="titulo" th:field="*{titulo}" maxlength="75">
            </div>
            <div class="errores" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Error Nombre</div>

            <div class="casillero">
                <label for="anio">A&ntildeo:</label>
                <input type="number" id="anio" name="anio" th:field="*{anio}">
            </div>
            <div class="errores" th:if="${#fields.hasErrors('anio')}" th:errors="*{anio}">Error Nombre</div>


            <div class="casillero">
                <label for="ejemplares">Ejemplares:</label>
                <input type="number" id="ejemplares" name="ejemplares" th:field="*{ejemplares}">
            </div>
            <div class="errores" th:if="${#fields.hasErrors('ejemplares')}" th:errors="*{ejemplares}">Error Nombre</div>

           <div class="casillero">
                <label for="ejemplaresPrestados">Ejemplares Prestados:</label>
                <input type="number" id="ejemplaresPrestados" name="ejemplaresPrestados"
                    th:field="*{ejemplaresPrestados}">
            </div>
            <div class="errores" th:if="${#fields.hasErrors('ejemplaresPrestados')}" th:errors="*{ejemplaresPrestados}">
            </div>

 <!-- 
            <div class="casillero">
                <label for="ejemplaresRestantes">Ejemplares Restantes:</label>
                <input type="number" id="ejemplaresRestantes" name="ejemplaresRestantes"
                    th:field="*{ejemplaresRestantes}">

            </div>
            <div class="errores" th:if="${#fields.hasErrors('ejemplaresRestantes')}" th:errors="*{ejemplaresRestantes}">
            </div> -->

            <div class="casillero">
                <label for="alta">Estado: </label>
                <!-- name debe ser igual para selecciona solo una opcion, value es el valor q se envia -->
                <div>
                    <input type="radio" id="alta" name="alta" value="true" th:checked="${libro.alta}==true">
                    <label for="alta">Alta</label>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input type="radio" id="baja" name="alta" value="false" th:checked="${libro.alta}==false">
                    <label for="baja">Baja</label>
                </div>
            </div>

            <div class="casillero">
                <label for="editorial"><a th:href="@{/editorial/form}"><i class="fa fa-plus-square fa-lg"></i></a> Editorial:</label>
                <select th:field="*{editorial.id}" id="editorial" name="editorial" >
                    <option value="" selected>Elegir editorial</option>
                    <option th:each="e : ${editoriales}" th:if="${e.alta}==true" th:text="${e.nombre}" th:value="${e.id}"></option>
                </select>
            </div>
            <div class="errores"th:text="${editorialError}"></div> <!-- para autor y editorial -->
            

            <div class="casillero">
                <label for="autor"><a th:href="@{/autor/form}"><i class="fa fa-plus-square fa-lg"></i></a> Autor:</label>
                <select th:field="*{autor.id}" id="autor" name="autor" >
                    <option value="" selected>Elegir autor</option>
                    <option th:each="a : ${autores}" th:if="${a.alta}==true" th:text="${a.nombre}" th:value="${a.id}"></option>
                </select>
            </div>
            <div class="errores" th:text="${autorError}"></div>
            
            <div class="casillero">
                <input type="submit" value="Guardar" class="submit">
            </div>

        </fieldset>
    </form>
    

    <footer th:replace="layout/footer"></footer>
</body>

</html>