<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<title>Libro</title>

<head th:replace="layout/head"></head>

<body>

    <header th:replace="layout/barra"></header>
    <h1>Listado de libros</h1>
    <div class="exito desaparecer" th:if="${exito}" th:text="${exito}"></div>
    <div class="error desaparecerLento" th:if="${error}" th:text="${error}"></div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>Titulo</th>
                <th>Año</th>
                <th>Ejemplares</th>
                <th>Ejemplares Prestados</th>
                <th>Ejemplares Disponibles</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Alta</th>
                <th>Modificar</th>
                <Th>Eliminar</Th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" l,iterator: ${libros}">
                <td th:text="${iterator.index+1}"> 1</td>
                <!-- no es el id real el que muestra, es un un indicador de posicion -->
                <td th:text="${l.isbn}"></td>
                <td th:text="${l.titulo}"></td>
                <td th:text="${l.anio}"></td>
                <td th:text="${l.ejemplares}"></td>
                <td th:text="${l.ejemplaresPrestados}"></td>
                <td th:text="${l.ejemplaresRestantes}"></td>
                <td th:text="${l.autor.nombre}"></td>
                <td th:text="${l.editorial.nombre}"></td>
                <td>
                    <i th:if="${l.alta}" class="fa fa-circle verde"></i>
                    <i th:unless="${l.alta}" class="fa fa-circle rojo"></i>
                </td>
                <td>
                    <a th:href="@{/libro/form}+'?id='+${l.id}"><i class="fas fa-pencil-alt"></i></a>
                </td>
                <td>
                    <a th:href="@{/libro/delete}+'?id='+${l.id}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>

    </table>

    <footer th:replace="layout/footer"></footer>
    
    <!-- Javascript desaparecer -->
    <script type="text/javascript" src="/js/desaparecer.js"></script>
</body>

</html>
