<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="layout/head.html"></head>

<title>Autor</title>

<body>
    <header th:replace="layout/barra"></header>
    <h1>Listado de Editoriales</h1>
    <div class="desaparecer exito" th:if="${exitoEditorial}" th:text="${exitoEditorial}"></div>
    <div class="desaparecerLento error" th:if="${errorEditorial}" th:text="${errorEditorial}"></div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Alta</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e,iterator: ${editorial}">
                <td th:text="${iterator.index+1}"> 1</td>
                <td th:text="${e.nombre}"></td>
                <td>
                    <a th:href="@{/editorial/enable}+ '?id=' + ${e.id}">
                        <i th:if="${e.alta}" class="fa fa-circle verde"></i>
                        <i th:unless="${e.alta}" class="fa fa-circle rojo"></i>
                    </a>
                </td>
                <td><a th:href="@{/editorial/form}+ '?id=' + ${e.id}"> <i class="fas fa-pencil-alt"></a></td>
                <td><a th:href="@{/editorial/delete} + '?id=' + ${e.id}"><i class="fas fa-trash-alt"></a></td>
            </tr>
        </tbody>
    </table>


    <!-- Javascript desaparecer -->
    <script type="text/javascript" src="/js/desaparecer.js"></script>

</body>

</html>